{% extends "elements.html" %}

{% block nav %}
<nav class="bg-indigo-600 p-3 shadow-md flex items-center text-white">
    <h1 class="sm:text-white  m-2 font-bold sm:text-2xl"><a href="{% url "e_com:home" %}">Interior Masters</a></h1>

    <div class="absolute right-3 flex gap-x-4 items-center mr-3">
        <a href="{% url "e_com:home" %}" class="flex">Back home
            <span class="ml-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path
                        d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z" />
                    <path
                        d="m12 5.432 8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z" />
                </svg>

            </span>
        </a>
        {% if user.is_authenticated %}
        <a href="{% url "e_com:profile" %}" title="View Profile"><img src="{{ user.profile_pic.url }}" alt="profile.pic"
                class="size-8 rounded-full hover:opacity-70 md:size-11 "></a>
        {% endif %}

    </div>
</nav>

{% endblock nav %}