{% extends "master.html" %}

{% block title %}Samples{% endblock title %}

{% block content %}


{% include "nav.html" %}

<div class="mt-30">
{% for sample in samples %}
<div class="mt-10">
    <div class="mx-4 bg-white mb-10 shadow-2xl rounded-2xl text-center sm:mx-30">
        <div class="mt-8 text-center flex items-center justify-center">
            <img class="w-full rounded-2xl sm:h-100 sm:size-200" src="{{ sample.sample_pic.url }}" alt="sample">
            
        </div>
        <div class="text-center py-2">
            <p class="font-bold sm:text-3xl">{{ sample.sample_name }}</p>
        
            <p class="text-gray-400 text-sm">Customer Rating <span class="text-amber-300">&#9733;&#9733;&#9733;&#9733;&#9733;</span></p>
        </div>

        <div class="py-3 ">
            <a href="#" class="bg-blue-500 hover:bg-white hover:text-blue-500 border p-2 px-5 rounded text-white">Details</a>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% include "footer.html" %}
            

{% endblock content %}