{% extends "master.html" %}
{% load humanize %}

{% block title %}Our Services{% endblock title %}


{% block content %}

{% include "nav.html" %}

<div class="fixed top-28 w-full">

    {% if messages %}

    {% for message in messages %}
    <p class="{% if message.tags == 'error' %}bg-red-400 text-red-800 
                {% elif message.tags == 'success' %}bg-green-400 text-green-800{% endif %}
                    p-2 rounded text-center border m-2 mx-10">{{message}}
        <button class="float-right underline hover:cursor-pointer" onclick="this.parentElement.remove()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </button>
    </p>
    {% endfor %}
    {% endif %}

</div>

<div class="mt-30">
    <div class="grid justify-center mx-4 md:grid-cols-4 text-center my-3 gap-y-3.5 sm:gap-x-2">
        {% for service in services %}

        <div class="bg-white my-5 mx-5 shadow rounded-b-2xl rounded hover:shadow-lg overflow-hidden text-nowrap m-1">
            <a href="{% url "e_com:service_view" service.id %}">
                <img src="{{service.thumbnail.url}}" alt="" class=" rounded w-100 h-50">
                <p class="font-bold pt-2">{{ service.name }}</p>
                {% if service.cost_on_offer %}
                <p class="mb-3">On offer: <span class="line-through text-red-600 rounded">{{ service.cost_range|intcomma
                        }}</span></p>
                {% else %}
                <p class="m-2">Cost: <span class="text-green-500 ">{{service.cost_range|intcomma}}</span></p>
                {% endif %}
                {% if service.additional_info %}
                <div class="flex items-center justify-center">
                    <div class="w-60 ml-3 overflow-hidden">
                        <p class="text-nowrap text-center text-sm opacity-60 mb-3">{{ service.additional_info }}</p>
                    </div>
                </div>
                {% endif %}

                <button
                    class="p-2 bg-blue-600 object-bottom hover:cursor-pointer hover:bg-white rounded-2xl hover:text-blue-500 border w-full text-white ">Expand</button>
            </a>

        </div>

        {% endfor %}
    </div>
</div>


{% include "footer.html" %}




{% endblock content %}